import telebot
bot = telebot.Telebot('1404131336:AAFx_z_uMtSESzAtyW2VB6TPuxGkYRWIUbo')

@bot.message_handler(commands=['start','help'])
def send_welcome(message):
	bot.reply_to(message, f'Я твой бот. Привет, {message.from_user.frist_name}')

@bot.message_handler(content_types=['text'])
def get_text_messages(message):
	if message.text.lower() == 'привет':
		bot.send_message(message.from_user.id, 'Привкт!')
	else:
		bot.send_message(message.from_user.id, 'Не понимаю')

bot.polling(none_stop=True)	
